NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=Happy Zion
NEXT_PUBLIC_SITE_ALTERNATE_NAME=해피시온
NEXT_PUBLIC_SITE_TAGLINE=은혜와 평안이 머무는 공동체
NEXT_PUBLIC_CHURCH_ADDRESS=서울시 어딘가 123
NEXT_PUBLIC_CHURCH_PHONE=010-0000-0000
NEXT_PUBLIC_CHURCH_EMAIL=hello@example.com
NEXT_PUBLIC_YOUTUBE_URL=https://www.youtube.com/
